POSTGRES_DB=inventory
POSTGRES_USER=inventory
POSTGRES_PASSWORD=inventory

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/inventory
KEYCLOAK_CLIENT_ID=inventory-api
KEYCLOAK_CLIENT_SECRET=inventory-api-secret